<!-- <p>product-update works!</p> -->
<mat-card class="updateProductForm">
    <mat-card-content class="productFormCard">
        <mat-card-title class="productFormCardTitle">
            Update Product
        </mat-card-title>

        <form>
            <mat-form-field>
                <input matInput placeholder="Name" 
                [(ngModel)]="product.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Price"
                [(ngModel)]="product.price" name="price">
            </mat-form-field>
        </form>

        <button mat-raised-button (click)="updateProduct()">Save</button>
    
        <button mat-raised-button (click)="cancelOperation()" color="warn">Cancel</button> 
    </mat-card-content>
</mat-card>

